<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Pesalink Posting History'" [items]="['Pesalink Posting']"
                [active_item]="'History'">
            </app-breadcrumb>
        </div>
        <!-- #END# Widgets -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                        <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="dropdown">
                                                <div>
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Select Transaction Status </mat-label>
                                                        <mat-select [(value)]="status"
                                                            (selectionChange)="getTranCodesOnChange()">
                                                            <mat-option value="Pending">Pending</mat-option>
                                                            <mat-option value="Successful">Successful</mat-option>
                                                            <mat-option value="Failed">Failed</mat-option>                                                           
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </li>
                                            <li class="dropdown">
                                                <div class="m-l-5">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Select Transaction Code </mat-label>
                                                        <mat-select [(value)]="trancode"
                                                            (selectionChange)="filterProcessingTransactions()">
                                                            <mat-option *ngFor="let dt of codes" [value]="dt">
                                                                {{ dt}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </li>
                                            <li class="dropdown">
                                                <div class="m-l-5">
                                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Choose Date</mat-label>
                                                    <input matInput [matDatepicker]="datePicker" [(ngModel)]="currentDate" (dateChange)="filterProcessingTransactions()" readonly>
                                                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #datePicker></mat-datepicker>
                                                  </mat-form-field>
                                                </div>
                                              </li>

                                         
                                            <li>
                                                <div class="example-button-container">
                                                    <button mat-flat-button color="primary"
                                                        aria-label="Example icon button with a filter list icon" 
                                                        (click)="downloadPesalinkReport()">Export
                                                        <mat-icon>cloud_download</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <mat-table #table  [dataSource]="dataSource" matSort class="mat-cell">
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="table-img tbl-col-width-per-8">#</mat-header-cell>
                                    <mat-cell class="table-img tbl-col-width-per-8"
                                        *matCellDef="let element; let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)">{{i +
                                        1}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="DebitAcct">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="table-img tbl-col-width-per-15">Debit A/C</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="table-img tbl-col-width-per-15">
                                        {{ row.debitAccount}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="crAcct">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="table-img tbl-col-width-per-25">Credit A/C</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="table-img tbl-col-width-per-25">
                                        {{ row.recipientAccount }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="tranAmount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="table-img tbl-col-width-per-15">Tran Amount</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="table-img tbl-col-width-per-15">
                                        {{ row.amount | currency:'KES'}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="benBank">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="table-img tbl-col-width-per-25">Beneficiary Bank</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="table-img tbl-col-width-per-25">
                                        {{ row.beneficiaryBankCode }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="tranDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="table-img tbl-col-width-per-35">Tran Date</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="table-img tbl-col-width-per-35">
                                        {{ row.createdOn | date}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="table-img tbl-col-width-per-35">Status</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="table-img tbl-col-width-per-35">
                                        <span *ngIf="row.status=='Processed'"
                                            class="badge badge-pill badge-primary col-green">
                                            {{ row.status }}</span>
                                        <span *ngIf="row.status=='Sent'"
                                            class="badge badge-pill badge-primary col-orange">
                                            {{ row.status }}</span>
                                        <span *ngIf="row.status=='Pending'"
                                            class="badge badge-pill badge-primary col-orange">
                                            {{ row.status }}</span>
                                        <span *ngIf="row.status=='Error'"
                                            class="badge badge-pill badge-primary col-red">
                                            {{ row.status }}</span>
                                        <span *ngIf="row.status=='Failed'"
                                            class="badge badge-pill badge-primary col-red">
                                            {{ row.status }}</span>
                                        <span *ngIf="row.status=='Accepted'"
                                            class="badge badge-pill badge-primary col-blue">
                                            {{ row.status }}</span>
                                        <span *ngIf="row.status=='Successful'"
                                            class="badge badge-pill badge-primary col-green">
                                            {{ row.status }}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" (contextmenu)="onContextMenu($event, row)">
                                        <button mat-icon-button (click)="viewPesalinkInfo(row)"
                                            matTooltip="View Details" class="tbl-action-btn">
                                            <mat-icon color="primary">visibility</mat-icon>
                                        </button>
                                        <!-- <button *ngIf="row.status =='Sent' || row.status =='Pending'" mat-icon-button
                                            (click)="retry(row)" matTooltip="Post Manually To Pesalink"
                                            class="tbl-action-btn">
                                            <mat-icon color="primary">replay</mat-icon>
                                        </button> -->
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                                <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'"
                                    matRipple>
                                </mat-row>
                                <mat-cell *matNoDataRow colspan="4">
                                    No data matching the filter "{{ input.value }}"</mat-cell>
                            </mat-table>

                            <!-- Loading spinner -->
                            <div *ngIf="isLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10"
                                [pageSizeOptions]="[10, 25,50, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>