<div class="addContainer down">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modalHeader clearfix">
                    <div class="modal-about">
                        <div class="font-weight-bold p-t-5 mb-2 font-17">
                            Transaction Verification - {{this.tranCode}}
                        </div>

                        <div class="card p-2">
                            <p>If Action is set to Approve, Transactions for these Accounts will be posted to Finacle then a background process will be initiated to post to Pesalink.</p>
                            <p>If Action is set to Reject, The transaction will be moved to Rejected Queue.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="verificationForm">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Approve / Reject </mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option value="select">Select</mat-option>
                            <mat-option value="approve">Approve</mat-option>
                            <mat-option value="reject">Reject</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngIf="selected =='reject'">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Remark / Comment</mat-label>
                        <input matInput formControlName="remark" />
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="example-button-row" align="end">
                            <button mat-raised-button color="warn" (click)="onClick()" tabindex="-1">
                                Cancel
                            </button>
                            <button mat-raised-button color="primary" [disabled]="!verificationForm.valid"
                                (click)="onSubmit()">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                <b>Submit</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>