<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Students'" [items]="['Students']" [active_item]="'All Students'">
      </app-breadcrumb>
    </div>

    <!-- Widgets -->
    <app-user-wigets></app-user-wigets>
    <!-- #END# Widgets -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <div class="m-l-5">
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Filter By </mat-label>
                            <mat-select [(value)]="selected" (selectionChange)="fetchData()">
                              <mat-option value="all"><b>All Accounts</b></mat-option>

                            </mat-select>
                          </mat-form-field>
                        </div>
                      </li>

                      <li class="dropdown m-l-5">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search" type="text" (keyup)="applyFilter($event)" #filter
                          class="browser-default search-field" aria-label="Search box" />
                      </li>
                      <li>
                        <!-- <div class="m-l-5" matTooltip="Add">
                          <button mat-mini-fab color="primary" (click)="addNew()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div> -->
                      </li>
                      <li>
                        <div class="m-l" matTooltip="Refresh">
                          <button mat-mini-fab color="primary" (click)="refresh()">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              <mat-table #table [dataSource]="dataSource" mat-row-hover matSort class="mat-cell">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="studentId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    class="table-img tbl-col-width-per-8">#</mat-header-cell>
                  <mat-cell class="table-img tbl-col-width-per-8" *matCellDef="let element; let i = index"
                    [class.odd-row]="i % 2" [class.even-row]="!(i % 2)">{{i +
                    1}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    class="table-img column-nowrap">FirstName</mat-header-cell>
                  <mat-cell *matCellDef="let user;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="table-img column-nowrap">{{ user.firstName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="lastName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    class="table-img column-nowrap">LastName</mat-header-cell>
                  <mat-cell *matCellDef="let user;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="table-img column-nowrap">
                    {{ user.lastName }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dob">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap text-left">DOB
                  </mat-header-cell>
                  <mat-cell *matCellDef="let user;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="table-img  column-nowrap">
                    {{user.dob}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="studentClass">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap text-left">Class
                  </mat-header-cell>
                  <mat-cell *matCellDef="let user;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="table-img  column-nowrap">
                    {{user.studentClass}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="score">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap text-left">score
                  </mat-header-cell>
                  <mat-cell *matCellDef="let user;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="table-img  column-nowrap">
                    {{user.score}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap text-left">status
                  </mat-header-cell>
                  <mat-cell *matCellDef="let user;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="table-img  column-nowrap">
                    {{user.status}}
                  </mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0 column-nowrap" *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let user;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="pr-0">
                    <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                    (click)="accountDetailsCall(user)" class="tbl-action-btn" matTooltip="View Details">
                    <mat-icon>visibility</mat-icon>
                  </button>
                    <button mat-icon-button color="primary" (click)="$event.stopPropagation()" (click)="editCall(user)"
                      class="tbl-action-btn" matTooltip="Update Account">
                      <mat-icon>edit</mat-icon>
                    </button>

                  
                    <button mat-icon-button color="primary"
                      (click)="$event.stopPropagation()" (click)="deleteDetailsCall(user)" matTooltip="Delete Account"
                      class="tbl-action-btn">
                      <mat-icon>delete_outline</mat-icon>
                    </button>

                  
                   

                
                   
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'" matRipple>
                </mat-row>
                <mat-cell *matNoDataRow colspan="4">
                  No data matching the filter "{{ input.value }}"</mat-cell>
              </mat-table>

              <!-- Loading spinner -->
              <div *ngIf="isLoading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="60" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>