<div class="container">
    <div mat-dialog-content>
        <div class="row">
            <!--Gift Icon-->
            <div class="col text-center">
                <mat-icon color="primary">lock_open</mat-icon>
            </div>
            <!--Modal Text-->
            <div class="col-12 text-center">
                <h2>Are you sure you want to Unlock this Account? </h2>
                <h2>{{data.user.username}}</h2>
            </div>
        </div>
        <mat-dialog-actions align="center" class="mb-1">
            <button mat-raised-button (click)="onClick()" style="width: 40%;">Cancel</button>
            <button mat-raised-button color="primary" (click)="onUnlock()" [class.auth-spinner]="loading"
                style="width: 40%;">Unlock Account</button>
        </mat-dialog-actions>
    </div>