/* You can add global styles to this file, and also import other style files */


.odd-row {
  background-color: white;
}

.even-row {
  background-color: #eee;
}

html,
body {
  height: 100%;
  font-family: 'Roboto';
  font-weight: 400 !important;
}

body {
  // text-transform: uppercase !important;
  margin: 0;
  font-family: 'Roboto'
}


.bg {
  background: linear-gradient(to left, #34336D, #fafafa);
}

.bg1 {
  background: linear-gradient(to right, #34336D, #fafafa);
}

.down {
  background: linear-gradient(to bottom, #CACAD9, #fafafa);
}

.fg {
  color: #34336D;
  font-weight: bolder;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wbg {
  color: #fafafa;
  font-weight: bolder;
}


.trow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
